body {
	background: linear-gradient(90deg, #43A40078, #ffffff);
}

#add_ticket {
  position: relative;
  left: 80%;
  background-color: #FFA2A2;
  font-size: 0.85rem;
  border: 0.5px outset gray;
  border-radius: 25px;
  cursor: pointer;
}

#tickets_wrapper {
  width: 80%;
  margin: auto;
  margin-top: 1%
}

.ticket {
  display: flex;
  justify-content: space-between;
  border: 1.5px outset gray;
  border-radius: 5px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.done_ticket {
  position: relative;
  right: 30%;
  cursor: pointer;
}

.ticket_description {
  font-weight: bold;
}

.edit_ticket {
  position: relative;
  left: 33%;
  cursor: pointer;
}

.delete_ticket {
  position: relative;
  left: 25%;
  cursor: pointer;
}

.modal {
  position: absolute;
  z-index: 999;
  width: 50%;
  height: 50vh;
  background-color: #fff;
  top: 0.4vh;
  left: 25%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1%
}

.short_description_input, .full_description_input {
  border: 1.5px inset black;
  border-radius: 7px;
}

.short_description_input {
  height: 7vh;
}

.full_description_input {
  height: 15vh;
}

